@model Volunteering.ViewModels.AdvertisementViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Advertisement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" action="Create" method="post" data-ajax="false" runat="server">
            <div class="form-floating">
                @Html.LabelFor(model=>model.CreatedDate)
                <br/>
                @Html.EditorFor(x=>x.CreatedDate)
                <span></span>
            </div>
            <div class="form-floating">
                @Html.LabelFor(x=>x.Title)
                <br/>
                @Html.EditorFor(x=>x.Title)
                <span></span>
            </div>
            <div class="form-floating">
                 @Html.LabelFor(x=>x.Body)
                 <br/>
                @Html.EditorFor(x=>x.Body)
            </div>
            <div class="form-floating">
                 @Html.LabelFor(x=>x.NeedMoney)
                 <br/>
                @Html.EditorFor(x=>x.NeedMoney)
            </div>
            <div class="form-floating">
                @Html.LabelFor(x=>x.DeliveryCountry)
                <br/>
                @Html.EditorFor(x=>x.DeliveryCountry)
            </div>
            <div class="form-floating">
                 @Html.LabelFor(x=>x.DeliveryCity)
                 <br/>
                @Html.EditorFor(x=>x.DeliveryCity)
            </div>
            <div class="form-floating">
                 @Html.LabelFor(x=>x.DeliveryStreet)
                 <br/>
                @Html.EditorFor(x=>x.DeliveryStreet)
            </div>
            <div class="form-floating">
                 @Html.LabelFor(x=>x.DeliveryBuild)
                 <br/>
                @Html.EditorFor(x=>x.DeliveryBuild)
            </div>
            <div class="form-floating">
                @Html.LabelFor(x=>x.Photos)
                 <br/>
                @Html.EditorFor(x=>x.Photos)
            </div>
           
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
