@model Domain.Models.Advertisement

@{
    ViewData["Title"] = "Detail";
}
<link rel="stylesheet" href="~/css/advertisementDetails.css" asp-append-version="true" />

@*<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Close)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Close)
        </dd>
        <h2>Comments:</h2>
        <dd class = "col-sm-10">
            @if ((Model != null) && (Model.Comments != null))
            {
                foreach (var item in Model.Comments)
                {
                    <p>@item.Text</p>
                }
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Comment", "AddComment", new {  adId = Model.Id }) |
    @Html.ActionLink("Donat", "Donat", new {  id=Model.Id  }) |
    @Html.ActionLink("Donations", "Donations", new {  id=Model.Id  }) 
    <a asp-action="Index">Back to List</a>
</div>*@

	<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#">10 inspiring photos</a></h3>
    <div class="intro"> <a href="#">Inspiration</a> </div>
  </div>
  <div class="card-info">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim... 
    <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
  </div>
  <div class="utility-info">
    <ul class="utility-list">
      <li><span class="licon icon-like"></span><a href="#">2</a></li>
      <li><span class="licon icon-com"></span><a href="#">12</a></li>
      <li><span class="licon icon-dat"></span>03 jun 2017</li>
      <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay">
  </div>
</div><!-- /.blog-card -->

   

