@model IEnumerable<Volunteering.ViewModels.AdWithAuthorViewModel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/gallery.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/advertisementCard.css" asp-append-version="true" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    @foreach (var item in Model) {
  <div class="card">
    <div class="card__header">
      <div class="container">
                        
	            @for (int i = 0; i < item.Images.Count; i++)
	            {
                    <div class="mySlides">
		            <div class="numbertext">@(i+1) / @item.Images.Count</div>
      		        <img src="@item.Images[i].PhotoPath" style="width:100%">
  		            </div>
	            }
  <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)" style="margin-right: 305px">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <div class="row">
   	                    @for (int i = 0; i < item.Images.Count; i++)
	                    {
		                    <div class="column">
      		                <img class="demo cursor" src="@item.Images[i].PhotoPath" style="width:100%" onclick="currentSlide(@i+1)">
    		                </div>
	                    }
                    </div>
                </div>
    </div>
    <div class="card__body">
      <span class="tag tag-red">@item.CurrentMoney / @item.NeedMoney</span>
      <h4>@item.Title</h4>
      <p>@item.Body</p>
      @*@Html.ActionLink("Edit", "Edit", new {  id=item.AdId  },new{@class="button"})*@
      @Html.ActionLink("Details", "Details", new {  id=item.AdId}, new{@class="button"})
      @Html.ActionLink("Donat", "Donat", new {  id=item.AdId  }, new{@class="button"})
      @Html.ActionLink("Comment", "Comment", new {  id=item.AdId  }, new{@class="button"})
    </div>
    <div class="card__footer">
      <div class="user">
        <img src="@item.UserPhotoPath" class="user__image" style="max-width:100px;">
        <div class="user__info">
          <h5>@string.Concat(item.UserName + " " + item.UserSurname)</h5>
          <small>@item.CreatedDate</small>
        </div>
      </div>
    </div>
  </div>
  }
</div>