@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">@Html.ActionLink("Create ad", "Create", "Advertisement", null, new {  @class="button"})</h1>
    <h1 class="display-4">@Html.ActionLink("Find ads", "FindAds", "Advertisement", null, new {  @class="button"})</h1>
    <h1 class="display-4">@Html.ActionLink("See all", "Index", "Advertisement", null, new {  @class="button"})</h1>
</div>*@
 <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/Главная.css" asp-append-version="true" />



    <section class="u-clearfix u-section-1" id="carousel_5ca3">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-37-lg u-size-37-md u-size-37-sm u-size-37-xs u-size-38-xl u-layout-cell-1">
                
              </div>
              <div class="u-container-style u-layout-cell u-size-22-xl u-size-23-lg u-size-23-md u-size-23-sm u-size-23-xs u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h1 class="u-text u-text-1">Website for volunteering</h1>
                  <p class="u-text u-text-2"> Make a goof or become a volunteer today</p>
                  <p class="u-text u-text-3">
                    <br>'
                  </p>
                 <h1 class="display-4">@Html.ActionLink("Create ad", "Create", "Advertisement", null, new {  @class="button"})</h1>
                 <h1 class="display-4">@Html.ActionLink("See all", "Index", "Advertisement", null, new {  @class="button"})</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 
